#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    font-size: 32px;
}

.space {
    height: 600px;
}

.card {
    padding: .5em;
    align-item: center;
    height: 400px;
    background-color: #2f357d;
    width: 100dvmax;
    justify-self: center;
}


.information {
    border-spacing: 1000px;
}